# C#
# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.log
.vscode/
.vs/
.idea/

# NuGet packages
*.nupkg
*.snupkg
packages/
*.suo
*.user
*.userosscache
*.sln.docstates

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.mypy_cache/
.pytest_cache/
.tox/
nosetests.xml
coverage.xml
*.cover
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Node.js / React
node_modules/
dist/
build/
.cache/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tgz
.eslintcache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# Typescript
*.tsbuildinfo

# IDE Specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db
